<?xml version="1.0"?>

<robot name="tracer_control" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="velocity_control"
        params="
        name
        velocity_limlow
        velocity_limhigh">
        <joint name="${name}">
            <command_interface name="velocity">
                <param name="min">${velocity_limlow}</param>
                <param name="max">${velocity_limhigh}</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </xacro:macro>

</robot>